{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %} {{ position.name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-lg mt-4" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved0.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
        <div class="container-fluid col-12 mx-4 mt-n6 py-xxl">
          <div class="row col-12 py-xxl">
            <div class="container-fluid col-xxl-12">
              <div class="card mb-2 py-4 h-100 align-items-center">
                <form class="row justify-content-center container-fluid" method="POST" action="">
                      <div class="mb-3 col-10 col-md-10" style=" margin-top: 100px; text-align: center">
                        <h1 class="font-weight-bolder text-info text-gradient">You are Logged out!</h1>
                        <a class="btn btn-outline-info" style="margin: 50px 200px 100px 160px" href="{% url 'login' %}">Push to login!</a>
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}







{#{% extends "base.html" %}#}
{##}
{#{% block title %} Home {% endblock title %}#}
{##}
{#<!-- Specific CSS goes HERE -->#}
{#{% block stylesheets %}{% endblock stylesheets %}#}
{##}
{#{% block content %}#}
{#    <div class="container-fluid py-4">#}
{#      <div class="row my-4">#}
{#        <div class="col-lg-11 col-lg-6 mb-md-0 mb-4">#}
{#          <div class="card">#}
{#            <div class="card-header pb-0">#}
{#              <div class="row">#}
{#                <div class="col-lg-11 col-7">#}
{#                  <div class="container login_form" >#}
{#                    <form class="row justify-content-center container-fluid" method="POST" action="">#}
{#                      <div class="mb-3 col-10 col-md-10" style=" margin-top: 100px; text-align: center">#}
{#                        <h1>You are Logged out!</h1>#}
{#                        <a class="btn btn-outline-dark" style="margin: 50px 200px 100px 160px" href="{% url 'login' %}">Push to login!</a>#}
{#                      </div>#}
{#                    </form>#}
{#                  </div>#}
{#                </div>#}
{#              <div class="card-body px-0 pb-2">#}
{#            <div class="table-responsive">#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#                {% include "includes/footer-fullscreen.html" %}#}
{##}
{#    </div>#}
{##}
{#{% endblock content %}#}
{##}
{#<!-- Specific JS goes HERE -->#}
{#{% block javascripts %}#}
{##}
{#  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>#}
{#  <script>#}
{#    var ctx = document.getElementById("chart-bars").getContext("2d");#}
{##}
{#    new Chart(ctx, {#}
{#      type: "bar",#}
{#      data: {#}
{#        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],#}
{#        datasets: [{#}
{#          label: "Sales",#}
{#          tension: 0.4,#}
{#          borderWidth: 0,#}
{#          borderRadius: 4,#}
{#          borderSkipped: false,#}
{#          backgroundColor: "#fff",#}
{#          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],#}
{#          maxBarThickness: 6#}
{#        }, ],#}
{#      },#}
{#      options: {#}
{#        responsive: true,#}
{#        maintainAspectRatio: false,#}
{#        plugins: {#}
{#          legend: {#}
{#            display: false,#}
{#          }#}
{#        },#}
{#        interaction: {#}
{#          intersect: false,#}
{#          mode: 'index',#}
{#        },#}
{#        scales: {#}
{#          y: {#}
{#            grid: {#}
{#              drawBorder: false,#}
{#              display: false,#}
{#              drawOnChartArea: false,#}
{#              drawTicks: false,#}
{#            },#}
{#            ticks: {#}
{#              suggestedMin: 0,#}
{#              suggestedMax: 500,#}
{#              beginAtZero: true,#}
{#              padding: 15,#}
{#              font: {#}
{#                size: 14,#}
{#                family: "Open Sans",#}
{#                style: 'normal',#}
{#                lineHeight: 2#}
{#              },#}
{#              color: "#fff"#}
{#            },#}
{#          },#}
{#          x: {#}
{#            grid: {#}
{#              drawBorder: false,#}
{#              display: false,#}
{#              drawOnChartArea: false,#}
{#              drawTicks: false#}
{#            },#}
{#            ticks: {#}
{#              display: false#}
{#            },#}
{#          },#}
{#        },#}
{#      },#}
{#    });#}
{##}
{##}
{#    var ctx2 = document.getElementById("chart-line").getContext("2d");#}
{##}
{#    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);#}
{##}
{#    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');#}
{#    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');#}
{#    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors#}
{##}
{#    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);#}
{##}
{#    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');#}
{#    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');#}
{#    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors#}
{##}
{#    new Chart(ctx2, {#}
{#      type: "line",#}
{#      data: {#}
{#        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],#}
{#        datasets: [{#}
{#            label: "Mobile apps",#}
{#            tension: 0.4,#}
{#            borderWidth: 0,#}
{#            pointRadius: 0,#}
{#            borderColor: "#cb0c9f",#}
{#            borderWidth: 3,#}
{#            backgroundColor: gradientStroke1,#}
{#            fill: true,#}
{#            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],#}
{#            maxBarThickness: 6#}
{##}
{#          },#}
{#          {#}
{#            label: "Websites",#}
{#            tension: 0.4,#}
{#            borderWidth: 0,#}
{#            pointRadius: 0,#}
{#            borderColor: "#575f9a",#}
{#            borderWidth: 3,#}
{#            backgroundColor: gradientStroke2,#}
{#            fill: true,#}
{#            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],#}
{#            maxBarThickness: 6#}
{#          },#}
{#        ],#}
{#      },#}
{#      options: {#}
{#        responsive: true,#}
{#        maintainAspectRatio: false,#}
{#        plugins: {#}
{#          legend: {#}
{#            display: false,#}
{#          }#}
{#        },#}
{#        interaction: {#}
{#          intersect: false,#}
{#          mode: 'index',#}
{#        },#}
{#        scales: {#}
{#          y: {#}
{#            grid: {#}
{#              drawBorder: false,#}
{#              display: true,#}
{#              drawOnChartArea: true,#}
{#              drawTicks: false,#}
{#              borderDash: [5, 5]#}
{#            },#}
{#            ticks: {#}
{#              display: true,#}
{#              padding: 10,#}
{#              color: '#b2b9bf',#}
{#              font: {#}
{#                size: 11,#}
{#                family: "Open Sans",#}
{#                style: 'normal',#}
{#                lineHeight: 2#}
{#              },#}
{#            }#}
{#          },#}
{#          x: {#}
{#            grid: {#}
{#              drawBorder: false,#}
{#              display: false,#}
{#              drawOnChartArea: false,#}
{#              drawTicks: false,#}
{#              borderDash: [5, 5]#}
{#            },#}
{#            ticks: {#}
{#              display: true,#}
{#              color: '#b2b9bf',#}
{#              padding: 20,#}
{#              font: {#}
{#                size: 11,#}
{#                family: "Open Sans",#}
{#                style: 'normal',#}
{#                lineHeight: 2#}
{#              },#}
{#            }#}
{#          },#}
{#        },#}
{#      },#}
{#    });#}
{#  </script>#}
{##}
{#{% endblock javascripts %}#}
