


{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="container login_form">
      <form class="row justify-content-center" method="POST" action="">
        <div class="mb-3 col-12 col-md-4">
          <div class="w-100">
            <h1>login</h1>
            {% if form.errors %}
              <p style="color: red">Invalid authentication</p>
            {% endif %}
            <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="btn btn-outline-primary" type="submit" value="Authorization">
              <input type="hidden" name="next" value="{{ next }}">
            </form>
          </div>
        </div>
      </form>
    </div>


{% endblock %}
