.searching {
    margin: 0;
}

.container {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0 20px;
    font-size: 60px;

}

.tax {
    margin: 30px 50px;
}

.btn {
    margin-bottom: 16px;
}