.searching {
    margin: 0;
}

.container-search {
    margin-left: 225px;
    box-sizing: border-box;
}

h1{
    margin: 20px 0 0 50px;
    font-size: 60px;

}

.tax{
    margin: 30px 50px;
}

.btn{
    margin-bottom: 16px;
}

.container-table{
    width: 1400px;
    margin: auto;
    padding: 0 15px;
}

.mtb3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.table{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.table th, table td{
    text-align: center;
    padding: 10px;
}

.table th{
    background-color: #00a0a0;
    color: #faf0e6;
}

.table th:nth-child(odd){
    background: #008080;
}

.table tr:nth-child(even){
    background-color: #fff;
}

.table tr{
    transition: all .2s;
}

.table tr:hover{
    background-color: #c8dfde;
}

.table td:not(:last-child){
    border-right: 1px solid #ccc;
}

.atuin-btn {
    display: inline-flex;
    margin: auto;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    line-height: 10px;
    padding: 10px 15px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #00a0a0;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    color: #FFF;
}
.atuin-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
    transition: left 0.7s;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
    left: 100%;
}

.atuin-btn-danger {
    display: inline-flex;
    margin: auto;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    line-height: 10px;
    padding: 10px 15px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #ac1b32;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
.atuin-btn-danger:hover,
.atuin-btn-danger:active,
.atuin-btn-danger:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    color: #FFF;
}
.atuin-btn-danger:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
    transition: left 0.7s;
}
.atuin-btn-danger:hover:before,
.atuin-btn-danger:active:before,
.atuin-btn-danger:focus:before {
    left: 100%;
}
