{% load crispy_forms_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="fa-solid fa-people-group"></i><Strong>Task Manager</Strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'task_manager:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:worker-list' %}">Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:position-list' %}">Positions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:team-list' %}">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:project-list' %}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:task-type-list' %}">Task Type</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:task-list' %}">Tasks</a>
        </li>
      </ul>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'task_manager:worker-detail' pk=user.id %}">
                {{ user.username }}</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Loggen out</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>

              <li><a class="dropdown-item" href="{% url 'task_manager:worker-create' %}">Registration</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">You have visit this page: {{ num_visits }} time{{ num_visits|pluralize }}</a>
        </li>
      </ul>
{#      <form class="d-flex">#}
{#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#      </form>#}
    </div>
  </div>
</nav>