{% extends "base.html" %}
{% block title %}Task Manager{% endblock %}
{% block content %}
  <h1>The Best Ever Task Manager</h1>

  <ul>
  <li>
    Task Type Count {{ num_tusk_types }}
  </li>
  <li>
    Count of Task {{ num_tusks }}
  </li>
  <li>
    Count of position {{ num_positions }}
  </li>
  <li>
    Count of employees {{ num_workers }}
  </li>
      <li>
    Count of Teems {{ num_teams }}
  </li>
  <li>
    Count of projects {{ num_projects }}
  </li>
  <li>You have visit this page: {{ num_visits }} time{{ num_visits|pluralize }}</li>
</ul>
{% endblock %}