{% extends "base.html" %}
{% block title %}Task Manager{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
  <div class="container-fluid home-carousel">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="7000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/team.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block first-part">
          <h5>Teamwork!</h5>
          <p><em>"Talent wins games, but teamwork and intelligence win championships."</em> – Michael Jordan</p>
      </div>
    </div>
      <div class="carousel-item">
        <img src="{% static 'img/project.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block second-part">
          <h5>Projects!</h5>
          <p class="second-rules"><em>There should be one - and preferably only one - obvious way to do it.</em></p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="{% static 'img/tasks.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block tasks">
          <h5>Tasks!</h5><em>
          <p>-Beautiful is better than ugly.
         -Explicit is better than implicit.</p>
          <p>-Simple is better than complex.
           -Complex is better than complicated.</p>
          <p>-Flat is better than nested.
          -Sparse is better than dense.
          -Readability counts.</p></em>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/worker.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block first-rules first-part">
          <h5>Positions!</h5>
          <p><em>Сhoose who you want to be and go your own way!</em></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>
  <section class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-sm-4 tax"><h5>Count of Teams: {{ num_teams }}</h5></div>
        <div class="col-lg-2 col-sm-4 tax"><h5>Count of Workers: {{ num_workers }}</h5></div>
        <div class="col-lg-2 col-sm-4 tax"><h5>Count of Positions: {{ num_positions }}</h5></div>
        <div class="col-lg-2 col-sm-4 tax"><h5>Count of Projects: {{ num_projects }}</h5></div>
        <div class="col-lg-2 col-sm-4 tax"><h5>Count Types of Tasks: {{ num_tusk_types }}</h5></div>
        <div class="col-lg-2 col-sm-4 tax"><h5>Count of Tasks: {{ num_tusks }}</h5></div>
      </div>
    </div>
  </section>
{% endblock %}
