{% extends "base.html" %}
{% block title %}Position | Delete{% endblock %}

{%  block content %}
  <h1>Delete Task Type</h1>
  <p style="color: red">
    <strongg color: red>Warning!!!</strongg>Are you sure, you want to delete Position: {{ position_to_delete }}?
  </p>
  <p><i>All information about {{ position_to_delete }} <strong>will be deleted</strong></i></p>
  <form action="" method="POST" >
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Yes I'm sure!">
    <input class="btn btn-primary" type="button" value="Cancel"
           onclick="location.href='{% url 'task_manager:position-list' %}'">
  </form>

{%  endblock %}