{% extends "base.html" %}

{% block content %}

    <h1>Position List
      <a href="{% url 'task_manager:position-create' %}"><strong>Create position</strong></a>
    </h1>

    {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Position</th>
      </tr>
    {% for position in position_list %}
      <tr>
        <td>{{ position.id }}</td>
        <td><a href="{{ position.get_absolute_url }}">{{ position.name }}</a></td>

      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no position in the service.</p>
    {% endif %}
{% endblock %}
