{% extends "base.html" %}
{% block title %}Project | {{ project.name }}{% endblock %}

{% block content %}
  <h4 class="display-5">Project: {{ project.name }}
    <a href="{% url 'task_manager:project-update' pk=project.id %}"><strong>Update</strong></a>
  </h4>

  <hr>
  <table class="table">

      <tr>
        <th>Project name:</th>
        <th>project description:</th>
      </tr>
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
      </tr>
  </table>

    <hr>
  <table class="table">
    {% for task in project.tasks %}

      <tr>
        <th>Project name:</th>
        <th>project description:</th>
      </tr>
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
      </tr>
  </table>


  <div class="p-2 bg-light border">

        <table class="table">
        {% for team in project.teams.all %}
        <tr>
          <th>Team name</th>
        <tr>
        <tr>
          <td>{{ team.name }} </td>
        </tr>


        {% endfor %}
        </table>

  </div>
{% endblock %}