{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Project List{% endblock %}
{% block content %}
    <h1>Project List
      <a href="{% url 'task_manager:project-create' %}"><strong>Create Project</strong></a>
      <form action="" method="GET">
        {{ project_search_form|crispy }}
        <input type="submit" value="search">
      </form>
    </h1>

    {% if project_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Teams</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for project in project_list %}
      <tr>
        <td>{{ project.id }}</td>
        <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
        <td>{{ project.teams.name}}</td>
        <td>{{ project.description }}</td>

        <td><a href="{% url 'task_manager:project-update' pk=project.id %}">Update</a></td>
      <td><a href="{% url 'task_manager:project-delete' pk=project.id %}">Delete</a></td>
      </tr>
    {% endfor %}
    </table>

    {% else %}
      <p>There are no project in the service.</p>
    {% endif %}

      <table class="table">
      <tr>
        <th>ID</th>
        <th>task Name</th>


      {% for task in project_list %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.description }}</td>


      </tr>
    {% endfor %}
    </table>
{% endblock %}
