{% extends "base.html" %}
{% block title %}Project | {{ project.name }}{% endblock %}

{% block content %}
  <h4 class="display-5">Project: {{ project.name }}
    <a href="{% url 'task_manager:project-update' pk=project.id %}"><strong>Update</strong></a>
{#    {% if user not in task.assignees.all %}#}
{#      <a class="btn btn-success" href="{% url 'task_manager:worker-assign-to-task' pk=task.id %}">Assign me to Task</a>#}
{#    {% else %}#}
{#      <a class="btn btn-danger" href="{% url 'task_manager:worker-delete-from-task' pk=task.id %}">Delete me from Task#}
{#      </a>#}
{#    {% endif %}#}
  </h4>

  <hr>
  <table class="table">

      <tr>
        <th>Project name:</th>
        <th>description:</th>
        <th>tasks</th>
      </tr>
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.tasks }}</td>
        <td>{{ project.description}}</td>
      </tr>
  </table>
  <div class="p-2 bg-light border">

        <table class="table">
        {% for team in project.teams.all %}
        <tr>
          <th>Team name</th>
        <tr>
        <tr>
          <td>{{ team.name }} </td>
        </tr>


        {% endfor %}
        </table>

  </div>
{% endblock %}