{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Task List{% endblock %}
{% block content %}
    <h1>Tasks List
      <a href="{% url 'task_manager:task-create' %}"><strong>Create Task</strong></a>
      <form action="" method="GET">
        {{ task_search_form|crispy }}
        <input type="submit" value="search">
      </form>
    </h1>

    {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Task type</th>
        <th>priority</th>
        <th>is_completed</th>
        <th>deadline</th>
        <th>Project</th>

        <th>description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for task in task_list %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{{ task.get_absolute_url }}">{{ task.task_type.name }}</a></td>
        <td>{{ task.priority}}</td>
        <td>{{ task.is_completed }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.project }}</td>
        <td>{{ task.description }}</td>
        <td><a href="{% url 'task_manager:task-update' pk=task.id %}">Update</a></td>
      <td><a href="{% url 'task_manager:task-delete' pk=task.id %}">Delete</a></td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no task in the service.</p>
    {% endif %}
{% endblock %}
