{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %} Tasks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="input-group">
    <form class="form-row" action="" method="GET">
      {{ task_search_form | crispy }}

      <input class="btn btn-outline-dark" type="submit" value="Search">
    </form>
  </div>
  <hr>

    <div class="container-fluid py-4">
      <div class="row col-12">
        <div class="col-11">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6 class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7">
                Task List<a class="col-2 btn btn-link text-dark px-3 mb-0" style="margin-left: 200px;" href="{% url 'task_manager:task-create' %}">
              <i class="fas fa-plus text-success me-2" aria-hidden="true"></i>
                <strong>Create new Task</strong></a></h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  {% if task_list %}
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7">id</th>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7" style="text-align: center">Task type</th>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7" style="text-align: center">Priority</th>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7" style="text-align: center">Deadline</th>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7" style="text-align: left">Edit Task</th>

                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Complete Status</th>
                      <th class="text-secondary text-uppercase text-xxs font-weight-bolder opacity-7" style="text-align: center">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for task in task_list %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center" style="margin-left: 10px">
                            {{ task.id }}
                          </div>
                        </div>
                      </td>
                      <td>
                         <a class="btn btn-link text-bg-success text-gradient container-fluid" style="margin-top: 10px" href="{{ task.get_absolute_url }}">
                           <span style="font-size: 14px">{{ task.task_type.name }}</span>
                      </td>
                      <td style="text-align: center;">
                         <span class="font-weight-bolder">{{ task.priority }}</span>
                      </td>
                      <td style="text-align: center;">
                         <span class="font-weight-bolder">{{ task.deadline }}</span>
                      </td>
                      <td class="align-middle">
                        <div class="col-lg-6 col-5 my-auto text-end">
                          <div class="dropdown float-lg-end pe-2">
                            <a class="btn btn-link text-dark px-3 mb-0 edit" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-pencil-alt text-dark me-2" style="margin: 0" aria-hidden="true"></i>Edit
                            </a>
                            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                              <li><a class="dropdown-item border-radius-md" href="{% url 'task_manager:task-update' pk=task.id %}">Edit Task</a></li>
                              <li><a class="dropdown-item border-radius-md" href="{% url 'task_manager:task-completed-update' pk=task.id %}">Edit Completed</a></li>
                              <li><a class="dropdown-item border-radius-md" href="{% url 'task_manager:task-deadline-update' pk=task.id %}">Edit Deadline</a></li>
                              <li><a class="dropdown-item border-radius-md" href="{% url 'task_manager:task-priority-update' pk=task.id %}">Edit Priority</a></li>

                            </ul>
                          </div>
                        </div>
                      </td>
                      {% if task.is_completed == True %}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Completed</span>
                      </td>
                        {% else %}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Incomplete</span>
                      </td>
                      {% endif %}
                       <td style="text-align: center;">
                         <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete" href="{% url 'task_manager:task-delete' pk=task.id %}">
                           <i class="far fa-trash-alt me-2"></i>Delete</a>
                    </tr>
                  {% endfor %}
                  </tbody>
                  {% else %}
                    <p style="text-align: center; color: mediumspringgreen">There are tasks in tasks list.</p>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
