{% extends "base.html" %}
{% block title %}Task | {{ task.task_type }}{% endblock %}

{% block content %}
  <h4 class="display-5">Task: {{ task.task_type }}
    <a href="{% url 'task_manager:task-update' pk=task.id %}"><strong>Update</strong></a>
    {% if user not in task.assignees.all %}
      <a class="btn btn-success" href="{% url 'task_manager:worker-assign-to-task' pk=task.id %}">Assign me to Task</a>
    {% else %}
      <a class="btn btn-danger" href="{% url 'task_manager:worker-delete-from-task' pk=task.id %}">Delete me from Task
      </a>
    {% endif %}
  </h4>

  <hr>
  <table class="table">
      <tr>
        <th>Task type:</th>
        <th>Priority:</th>
        <th>Is completed:</th>
        <th>Deadline:</th>
        <th>project name</th>
        <th>description:</th>
      </tr>
      <tr>
        <td>{{ task.task_type }}</td>
        <td>{{ task.priority}}</td>
        <td>{% if task.is_completed == True %} Completed{% else %}Not Completed{% endif %}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.project.name }}</td>
        <td>{{ task.description }}</td>
      </tr>
  </table>


  <h5 class="display-5">Assignees: </h5>
  <div class="p-2 bg-light border">
  {% for assignee in task.assignees.all %}
      <table class="table">
      <tr>
        <th>Username:</th>
        <th>Full name:</th>
        <th>Position assignee:</th>
      </tr>
      <tr>
        <td>{{ assignee.username }} {% if user == assignee %} (Me){% endif %}</td>
        <td>{{ assignee.first_name }} {{ assignee.last_name }}</td>
        <td>{{ assignee.position }}</td>
      </tr>
  </table>
    {% empty %}
    <p>No Workers!</p>
  {% endfor %}

{#    {% for project in task.projects.all %}#}
{#      <h5>Project</h5>#}
{#    <table>#}
{#    <tr>#}
{#      <th>Project</th>#}
{#    </tr>#}
{#    <tr><td>{{ project.name }}</td></tr>#}
{#    </table>#}
{##}
{#  {% empty %}#}
{#    <p>No Workers!</p>#}
{#  {% endfor %}#}
{#  </div>#}
{% endblock %}
