{% extends "base.html" %}
{% block title %}{{ task_completed_update }} | {{ object|yesno:"Update,Create" }}{% endblock %}
{% load crispy_forms_filters %}


{% block content %}
<h1>{{ object|yesno:"Update,Create" }} new position!</h1>

  <form action="" method="POST" novalidate>
  {% csrf_token %}
  {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Update">
    <input class="btn btn-primary" type="button"
           value="Cancel" onclick="location.href='{% url 'task_manager:task-list' %}'">

  </form>

{% endblock %}