{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Team List{% endblock %}
{% block content %}

    <h1>Team List
{#      <a href="{% url 'task_manager:team-create' %}"><strong>Create team</strong></a>#}
{#      <form action="" method="GET">#}
{#        {{ team_search_form|crispy }}#}
{#        <input type="submit" value="search">#}
{#      </form>#}
    </h1>
    {% if team_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
{#        <th>Update</th>#}
{#        <th>Delete</th>#}
      </tr>
    {% for team in team_list %}
      <tr>
        <td>{{ team.id }}</td>
{#        <td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>#}
{#        <td><a href="{% url 'task_manager:team-update' pk=team.id %}">Update</a></td>#}
{#        <td><a href="{% url 'task_manager:team-delete' pk=team.id %}">Delete</a></td>#}

      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no Team in the service.</p>
    {% endif %}
{% endblock %}
