{% extends "base.html" %}
{% block title %}Team | {{ team.name }}{% endblock %}
{% block content %}
  <h4 class="display-5">Position: {{ team.name }}</h4>
  <hr>
  <p><strong>Position: </strong>{{ team.name }}
{#    <a href="{% url 'task_manager:position-update' pk=position.id %}"><strong>Update</strong></a>#}
  </p>
  <hr>

  <h5 class="display-5">Workers: </h5>
  <div class="p-2 bg-light border">
  {% for worker in team.workers.all %}
    <hr>
    <p class="text-muted"><strong>Position id: </strong>{{ worker.id }}</p>
    <table class="table">
      <tr>
        <th>Username:</th>
        <th>Full name:</th>
        <th>Worker position:</th>
      </tr>
      <tr>
        <td>{{ worker.username }}</td>
        <td>{{ worker.first_name }} {{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
      </tr>
    </table>
  {% empty %}
    <p>No Workers!</p>
  {% endfor %}
  </div>
{% endblock %}