{% extends "base.html" %}
{% block title %}Team | {{ team.name }}{% endblock %}
{% block content %}
  <h4 class="display-5">Team: {{ team.name }}</h4>
  <hr>
  <strong>Position: </strong>{{ team.name }}
    <a href="{% url 'task_manager:team-update' pk=team.id %}"><strong>Update</strong></a>
  {#    {% if user not in task.assignees.all %}#}
{#      <a class="btn btn-success" href="{% url 'task_manager:worker-assign-to-task' pk=task.id %}">Assign me to Task</a>#}
{#    {% else %}#}
{#      <a class="btn btn-danger" href="{% url 'task_manager:worker-delete-from-task' pk=task.id %}">Delete me from Task#}
{#      </a>#}
{#    {% endif %}#}

  <hr>

  <h5 class="display-5">Members: </h5>
  <div class="p-2 bg-light border">
  {% for member in team.members.all %}
    <hr>
    <p class="text-muted"><strong>Team id: </strong>{{ worker.id }}</p>
    <table class="table">
      <tr>
        <th>Username:</th>
        <th>Full name:</th>
        <th>Worker position:</th>
      </tr>
      <tr>
        <td>{{ member.username }}</td>
        <td>{{ member.first_name }} {{ member.last_name }}</td>
        <td>{{ member.position }}</td>
      </tr>
    </table>
  {% empty %}
    <p>No Workers!</p>
  {% endfor %}

  <h5 class="display-5">Projects: </h5>
  <div class="p-2 bg-light border">
  {% for project in team.projects.all %}
    <table class="table">
      <tr>
        <th>Project name</th>
      </tr>
      <tr>
        <td>{{ project.name }}</td>

      </tr>
    </table>
  {% empty %}
    <p>No Projects!</p>
  {% endfor %}

  </div>
{% endblock %}