{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Worker List{% endblock %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/worker_list.css' %}">
  <div class="container-search">
    <h1>Workers List:</h1>
    <form class="form-inline tax" action="" method="GET">
      {{ worker_search_form|crispy }}
      <input class="btn btn-outline-success" type="submit" value="🔍">
    </form>
  </div>
  <div class="container-table mtb3">
    <a class="atuin-btn" href="{% url 'task_manager:worker-create' %}"><strong>Create new Worker</strong></a>
    <hr>
    <div class="table-res">
      <table class="table">
        <thead>


          {% if worker_list %}

            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Full Name</th>
              <th>@Email</th>
              <th>Position</th>
              <th>Team Name</th>
              <th>Position Update</th>
{#              <th>Choose Team </th>#}
              <th>Delete</th>
            </tr>
        </thead>
        {% for worker in worker_list %}
          <tbody>
            <tr>
              <td>{{ worker.id }}</td>
              <td><a style="font-size: 20px; color: #00a0a0" href="{{ worker.get_absolute_url }}"><strong>{{ worker.username }}</strong></a>
              {% if user == worker %} (Me) {% endif %}
              </td>
              <td>{{ worker.first_name }} {{ worker.last_name }}</td>
              <td>{{ worker.email }}</td>
              <td>{{ worker.position.name }}</td>
              <td>{{ worker.team.name }}</td>
              <td><a class="atuin-btn" href="{% url 'task_manager:worker-position-update' pk=worker.id %}">Change</a></td>
{#              <td><a class="atuin-btn" href="{% url 'task_manager:worker-team-update' pk=worker.id %}">Choose</a></td>#}
              <td><a class="atuin-btn-danger" href="{% url 'task_manager:worker-delete' pk=worker.id %}">Delete</a></td>
            </tr>
          </tbody>
        {% endfor %}

      </table>
    </div>
  </div>
  {% else %}
    <p>There are no worker in the service.</p>
  {% endif %}
{% endblock %}
