{% extends "base.html" %}
{% block title %}Worker | {{ worker.username }}{% endblock %}
{% block content %}
  <h4 class="display-5">Worker:</h4>
  <hr>
  <table class="table">
      <tr>
        <th>Username:</th>
        <th>First name:</th>
        <th>Surname:</th>
        <th>@email:</th>
        <th>Position</th>
      </tr>
      <tr>
        <td>{{ worker.username }}</td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.email }}</td>
        <td>{{ worker.position }}</td>
      </tr>
  </table>


  <h5 class="display-5">My Tasks: </h5>
  <div class="p-2 bg-light border">
  {% for task in worker.tasks.all %}
      <table class="table">
      <tr>
        <th>Task type:</th>
        <th>Is completed:</th>
        <th>Task priority</th>
        <th>Deadline</th>
      </tr>
      <tr>
        <td>{{ task.task_type }}</td>
        <td>{% if task.is_cpmleted == True %} Completed{% else %}Not Completed{% endif %}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.deadline }}</td>
      </tr>
  </table>

  {% empty %}
    <p>I have finish all!</p>
  {% endfor %}
  </div>
{% endblock %}